<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Kria WebComponent Demo test</title>

  <style type="text/css">
    html, body {
      height: 100%;
      margin: 0;
    }
    body, button {
      -webkit-font-smoothing: antialiased;
    }
    @media (min-width: 480px) {
      #kria-webc-root {
        position: relative;
        top: 10%;
      }
    }
  </style>
</head>
<body>
  <h1>Hi component!</h1>

  <!-- Where Kria Web Component Lays -->
  <div id="kria-webc-root"></div>

  <!-- HTML CSS stuff | you need to copy and paste these ones otherwise it won't render -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdn.ravenjs.com/3.24.0/raven.min.js" crossorigin=anonymous></script>
  
  <!-- TEST CODE -->
  <script type="text/javascript">

    hookedAction = function(state, action) {
      console.error("hooked-state.:", state);
      console.error("hooked-action:", action);
    }

    hooks = { 
      "ETH_GET": hookedAction.bind(this) 
    }
  
    mountSDK = function() {
      var kriaSDK = window.kriaSDK = KriaWebC.init({
        readOnly: false,
        externalUserId: "191.000.000-00",
        hooks: hooks
      });
    }

    window.onload = function() {
      mountSDK();

      // updating the component
      var languages = ["pt_BR", "en"];
      var position = 1;
      var interval = setInterval(() => {
        // PLAY HERE WITH OPTIONS TO UNDERSTAND THE LIFECYCLE 
        // position = position ? 0 : 1;
        // kriaSDK.setOptions({ 
        //   language: languages[position],
        //   readOnly: position ? true : false          
        // })        
      }, 30000);
    }
  </script>
</body>
</html>