.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkgray;
  transition: 0.5s 0.2s;
  opacity: 0;
  visibility: hidden;
}
.show {
  transition: 0.5s 0.2s;
  opacity: 0.9;
  visibility: visible;
}